*{margin: 0; padding: 0; box-sizing: border-box;}
.main-nav{
        position: fixed;
        top: 0;
        height: 100px;
        /* border-bottom: 2px solid rgb(201, 192, 192); */
        z-index:1000;
}
.nav{
    width: 100vw;
    height: 58px;
    padding: 0 50px;
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    align-items:last baseline;
}
.main-nav.active{
        background-color: rgb(241, 238, 238);
.search-input{
        background-color: rgb(241, 238, 238);
}
}
.nav1{
        position: absolute;
        right: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
}
.nav2{
        display: flex ;
        flex-direction: row;
        align-items: center;
        width: 350px;
        justify-content: space-evenly;
}

.hcca-row{
        display: flex;
        flex-direction: row;
        width: 400px;
        justify-content: space-evenly;
        .menu{
                color: black;
                text-decoration: none;
                font-size: 26px;
                font-weight: 900;
        }
        .menu.active{
                color: rgb(61, 61, 119);
                text-decoration: underline;
        }
}
.hcca-column{
        width: 100px;
        height: 130px;
        display:none;
        position: absolute;
        right: 50px;
        top: 60px; 
        background-color: white;
        text-decoration: none;
        order: 2;
h2{
   text-align: right;
}
.menu{
        color: black;
        text-decoration: none;
        font-size: 26px;
        font-weight: 900;
}
.menu.active{
        color: rgb(61, 61, 119);
        text-decoration: underline;
}
}

.hcca-column.active{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; 
        align-items: left;
}
h2{
        font-weight: 600;

}
.searchbar{
        height:35px;
        border: 2px solid rgb(143, 139, 139);
        border-radius: 8px;
        padding: 5px;

}

input{
        height: 100%;
        border: none;
        outline: none;
        
}
.lens{
        display: none;
}
button{
        width: 60px;
        height: 30px;
        border-radius: 5px;
        background-color: black;
        color: white;
}
.threeLine{
        font-size:large;
        display: none;
}
.outside-searchbar{
        display: none;
}
.outside-searchbar.active{
        display: block;
        height:35px;
        width: 90vw;
        border: 2px solid rgb(143, 139, 139);
        border-radius: 8px;
        padding: 5px;
        margin:auto;
input{
        margin-left: 10px;
}
}
.logout{
        width: 60px;
        height: 30px;
        border-radius: 5px;
        background-color: rgb(179, 68, 68);
        color: white;
        border: none;
}
@media(width<600px){
        .nav{
                padding: 0 10px;
        }
        h1{
                font-weight:600;
                font-size:30px;
        }
        .nav1{
                right: 10px;
        }
        .nav2{
                width: 150px;
        }
        .hcca-column{
                right: 10px;
        }
        .searchbar{
                display:none;
        }
        .lens{
                display: block;
        }
        
}

@media(width<1010px){
        .hcca-row{
                display: none;
        }
        
        .threeLine{
                display: block;
        }
}